# walkerator .gitignore

# Blacklist
*.orig
*.log
*_build
*htmlcov
*.egg-info
*__pycache__
*~
*.pyc
*.pdf
*.png
*.hdf5
*.h5
*.csv
.coverage
.tox/
*sonic.log
*fort.*
*.ogv
*.jpg
*.pdf
debug.py

# Whitelist
tox.ini
